[submodule "Nutcracker/vendor/spdlog"]
	path = Nutcracker/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nutcracker/vendor/GLFW"]
	path = Nutcracker/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Nutcracker/vendor/imgui"]
	path = Nutcracker/vendor/imgui
	url = https://github.com/DevShag/imgui
[submodule "Nutcracker/vendor/glm"]
	path = Nutcracker/vendor/glm
	url = https://github.com/g-truc/glm
